* {
  box-sizing: border-box;
}

html,
body {
  font-size: 15px;
  height: 100%;
  width: 100%;
  line-height: 1.5;
  font-family: sans-serif, Arial;
  background-color: rgb(250, 250, 250);
  margin: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
header {
  background: black;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
